.todoform{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 0 auto ;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modrenInput {
    width: 90%;
    padding: 10px;
    border: none
    
}
.modrenInput:focus {
    outline: none;
}
.modrenButton {
    background-color: #7bf00d;
    color: rgb(20, 1, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}