.item{
    width:100%;
    color: #311f03;
    font-size: 18px;
    margin: 0 auto;
}
.itemName{
    padding: 10px;
    border-radius: 5px;
    background-color: #a6fc07;
    margin-bottom: 10px;
}
.deleteButton{
    background-color: #f3ef08;
    color: rgb(7, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: -3px;
}   
.completed{
    text-decoration: line-through;
}