.list{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    min-height: 0;
    flex: 1;
    overflow: auto; /* Allow scrolling if content overflows */
    z-index: 5;
}